.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 2%;
    width: 80%;
    // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);;
}

.secondDiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5e63b6;
    padding: 4% 4% 2% 4%;
    margin: 1% auto;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.textarea {
    padding: 2%;
    border-radius: 10px;
}

.btn {
    border: none;
    padding: 1% 4%;
    font-size: 18px;
    background-color:#27296d;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}

.div3 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    width: 105%;
    margin-bottom: 1%;
    margin-top: -3%;
}

.h3 {
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.btn2 {
    border-color: none;
    padding: 1%;
    margin-left: 1%;
    font-size: 12px;
    background-color:#27296d;
    color: white;
    border-radius: 10px;
    position: relative;
    // transition: all 0.1s ease-in-out;
    right: 0;
    &:hover {
        cursor: pointer;
        background-color: #f5c7f7;
        border-color: #f5c7f7;
        color: black;
    }
}